{% extends 'layouts/base.html' %}
    {% load static %}
    {% block content %}

    <script src="{% static 'js/producto.js' %}"></script>
    <div class="container">

        <div class="crear">
            <h2 class="my-5">CREAR PRODUCTOS</h2>

            <form class="" action="" method="POST" enctype="multipart/form-data">
                <div class="form-p">
                    {% csrf_token %}
                    <div class="cprod-primero mb-4">
                        <div class="cprod-nom">
                        {{formP.nombre.label_tag}}
                        {{formP.nombre}}
                        </div>
                        <div class="cprod-tipo">
                            {{formP.ptipo.label_tag}}
                            {{formP.ptipo}}
                        </div>
                        <div class="cprod-precio">
                            {{formP.precio.label_tag}}
                            {{formP.precio}}
                        </div>
                        <div class="cprod-cantidad">
                            {{formP.cantidad.label_tag}}
                            {{formP.cantidad}}
                        </div>
                    </div>
                    <div class="cprod-segundo">
                        <div class="cprod-descripcion">
                            {{formP.descripcion.label_tag}}
                            {{formP.descripcion}}
                        </div>
                        <div class="cprod-img">
                            {{formP.imagen.label_tag}}
                            {{formP.imagen}}
                        </div>
                    </div>
                    
                </div>
                <div class="btpin">
                    <button>Guardar</button>
                </div>
            </form>
        </div>
        {% if messages %}
            <ul id="mensajes-validacion" class="mensajeProducto">
            {% for message  in messages%}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <div class="mostrar">
            <h2 class="mt-5 mb-4">LISTA DE PRODUCTOS</h2>

            <div>
                <input class="form-control col-11 mx-auto my-2" type="text" id="pbuscador" placeholder="Buscar producto...">
            </div>

            <table class="m-prod table">
                <thead>
                    <tr>
                        <th><a href="?orden=id&modo={{ sig_modo }}">ID
                            {% if orden == 'id' %}
                                {% if sig_modo == 'asc' %}
                                    <i class="fas fa-caret-up"></i>
                                {% else %}
                                    <i class="fas fa-caret-down"></i>
                                {% endif %}
                            {% endif %}
                        </a></th>

                        <th><a href="?orden=nombre&modo={{ sig_modo }}">NOMBRE
                            {% if orden == 'nombre' %}
                                {% if sig_modo == 'asc' %}
                                    <i class="fas fa-caret-up"></i>
                                {% else %}
                                    <i class="fas fa-caret-down"></i>
                                {% endif %}
                            {% endif %}
                        </a></th>
                        <th><a href="?orden=ptipo&modo={{ sig_modo }}">TIPO DE PRODUCTO
                            {% if orden == 'ptipo' %}
                                {% if sig_modo == 'asc' %}
                                    <i class="fas fa-caret-up"></i>
                                {% else %}
                                    <i class="fas fa-caret-down"></i>
                                {% endif %}
                            {% endif %}
                        </a></th>
                        <th><a href="?orden=precio&modo={{ sig_modo }}">PRECIO
                            {% if orden == 'precio' %}
                                {% if sig_modo == 'asc' %}
                                    <i class="fas fa-caret-up"></i>
                                {% else %}
                                    <i class="fas fa-caret-down"></i>
                                {% endif %}
                            {% endif %}
                        </a></th>
                        <th><a href="?orden=cantidad&modo={{ sig_modo }}">CANTIDAD
                            {% if orden == 'cantidad' %}
                                {% if sig_modo == 'asc' %}
                                    <i class="fas fa-caret-up"></i>
                                {% else %}
                                    <i class="fas fa-caret-down"></i>
                                {% endif %}
                            {% endif %}
                        </a></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for productos in p %}
                        <tr class="ltproductos">
                            <td>{{productos.id}}</td>
                            <td class="crud-prod-nombre">{{productos.nombre}}</td>
                            <td>{{productos.ptipo}}</td>
                            <td>S/.{{productos.precio}}</td>
                            <td>{{productos.cantidad}}</td>

                            <!--EDITAR-->
                            <td class="m-prod-btn">
                                <div class="edit-prod">
                                    <button type="button" data-toggle="modal" data-target="#editarProducto{{ productos.id }}" class="edit-prod-btn btn btn-primary">EDITAR</button>
                                    <div class="modal fade" id="editarProducto{{productos.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <h2 class="mt-3">EDITAR PRODUCTO</h2>
                                                <!-- Contenido del formulario de edición del producto -->
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <!-- Aquí colocas los campos para editar el producto, por ejemplo: -->
                                                    <div class="modal-body">
                                                        <div class="row mt-3">
                                                            <div class="col-6">
                                                                {{formP.nombre.label_tag}}
                                                                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ productos.nombre }}">
                                                            </div>
                                                            <div class="col-6">
                                                                {{ formP.ptipo.label_tag }}
                                                                <select class="form-control" name="ptipo" id="tipo">
                                                                    {% for tipo in tipos %}
                                                                        <option value="{{ tipo.id }}" {% if productos.ptipo.id == tipo.id %} selected {% endif %}>{{ tipo.nombre }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>                                                        
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-6">
                                                                {{formP.precio.label_tag}}
                                                                <input type="number" name="precio" class="form-control" step="0.01" id="precio" value="{{ productos.precio }}">
                                                            </div>
                                                            <div class="col-6">
                                                                {{formP.cantidad.label_tag}}
                                                                <input type="number" name="cantidad" class="form-control" id="cantidad" value="{{ productos.cantidad }}">
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-12">
                                                                {{formP.descripcion.label_tag}}
                                                                <textarea name="descripcion" id="descripcion" class="form-control">{{productos.descripcion}}</textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-12">
                                                                {{formP.imagen.label_tag}}
                                                                <input type="file" name="imagen" id="imagen" class="form-control-file" value="{{productos.imagen}}">
                                                            </div>
                                                        </div>
                                                        <!-- Otros campos para editar -->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                        <button type="submit" name="editarProducto" value="{{ productos.id }}" class="btn btn-primary">Guardar cambios</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elim-prod">
                                    <!--ELIMIANR-->
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" id="eliminarProducto" name="elimninarProducto" value="{{productos.id}}" class="elim-prod-btn  btn btn-danger">ELIMINAR</button>
                                    </form>
                                </div>
                            </td>

                            
    
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
    </div>

    {% endblock %}